body{
    background-image: url('https://images.unsplash.com/photo-1595952961192-a05e057ab8e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=958&q=80');
	background-size: cover;
	background-position: center;
}

.thumbnail img {
    width: 100%;
}

form button .inline {
    display: inline;
}